.footer {
    border-top: rem-calc(1) solid rgba($black, .3);
    padding: 2.2rem 0 0 0;
    background: $black;
    color: $white;

    li{
        @extend .font1;
        color: $white;
        font-size: 14px;
    }

    a{
        color: $white;
        font-size: 14px;
    }

    h4{
        font-size: 14px;
    }

    address{
        @extend .font1;
        font-size: 14px;
    }

    h3{
        color: $white;

        a{
            margin-bottom: 1rem;
            display: inline-block;

            @include media-breakpoint-up(lg){
                pointer-events: none;
            }

            @include media-breakpoint-down(md) {
                display:block;
                border-bottom: solid 1px $white;
                text-decoration: none;
                padding-bottom: 19px;
            }
        }
    }

    h3, h3 a {
        @extend .font1;
        font-size: 20px;
    }

    ul{
        list-style:none;
        padding: 0;

        @include media-breakpoint-down(md) {
            padding-bottom: 30px;
        }
    }

    &__logo{
        @include media-breakpoint-down(md) {
            text-align: center;
            display: block;
        }

        img{
            max-width: 200px;
            @include media-breakpoint-down(md) {
                max-width: 110px;
            }
        }
    }

    &__inner{
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg){
            flex-direction: row;
            justify-content: space-between;
        }
    }
}


.footer{
    &__inner{
        &__section{
            &.company-info{

                display: flex;
                flex-direction: column;

                @include media-breakpoint-down(md) {
                    text-align: center;
                    margin: 25px 0 25px 0;
                }

                h4{
                    margin: 0;
                }

                a{
                    &:last-of-type{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}


.footer{
    &__sub-footer{
          margin-top: rem-calc(30);
          background: $black;
          padding: 2.2rem 0;

        p{
            @extend .font1;
            text-align: left;
            margin: 0;
            color: $white;
            font-size: 14px;

            @include media-breakpoint-down(md) {
                text-align: center;
                font-size: 12px;
            }

            a{
                color: $white;
            }
        }
    }
}
