.industry{
    &__item {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;

        img{
            align-self: flex-start;
            width: 100%;
            margin-bottom: 20px;
        }

        .title{
            @extend .red;
            @extend .font2;
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}
