// base.scss

html {

    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    scroll-behavior:smooth;
}

body{
    margin: 0;
    @extend .font3;
    color: $grey;
    line-height: 1.5;

    @include media-breakpoint-up(lg) {
        font-size: 18px;
    }

    .btn-primary {
        background: $red;
        border-color: $red;

        &:hover {
            background: darken($red, 10%);
            border-color: darken($red, 20%);
        }
    }

    .sep{
        margin-bottom: 0;
        margin-top: 33px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 33px;
            margin-top: 90px;
        }
    }

    .red{
        &__button{
            @extend .font2;
            border-radius: 0;
            align-self: start;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,.5);
            padding: 5px 20px;
        }
    }

    .sub-title{
        @extend .font2;
        color: $black;
        font-size: 20px;

        &__white{
            @extend .font2;
            font-size: 20px;
            color: $white;
        }
    }

    .section-title{
        @extend .red;
        @extend .font2;
        font-size: 36px;

        @include media-breakpoint-up(lg) {
            font-size: 50px;
        }

        &__white{
            @extend .font2;
            color: $white;
        }
    }
}

address{

    margin-bottom: 2rem;
    font-style: normal;
}


*,
*::before,
*::after {

    box-sizing: inherit;
}

// Img & Width Utility Classes

.max-width{

    max-width: rem-calc(1200);
}

.w-100{

    width: 100%;
}

.img-fluid{

    max-width: 100%;
}


// Position Utility Classes

.p-relative{

    position: relative;
}

.p-absolute{

    position: absolute;
}
