// base.scss

html {

    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    scroll-behavior:smooth;
}

body{

    margin: 0;
}

address{

    margin-bottom: 2rem;
    font-style: normal;
}


*,
*::before,
*::after {

    box-sizing: inherit;
}

// Img & Width Utility Classes

.max-width{

    max-width: rem-calc(1200);
}

.w-100{

    width: 100%;
}

.img-fluid{

    max-width: 100%;
}


// Position Utility Classes

.p-relative{

    position: relative;
}

.p-absolute{

    position: absolute;
}