// forms.scss

.af-form{
    &.acf-form{
        .af-field{
            border-top: none;
            margin-bottom: 1.5rem;
            padding: 0;

            .af-label label{
                font-size: 1rem;
                font-weight: 600;
                display: none;
            }
        }

        .af-field-first-name{
            width:48%;
            float: left;
            clear: none;
            margin-right: 2%;
        }

        .af-field-last-name{
            width:48%;
            float: left;
            clear: none;
            margin-left: 2%;
        }
    }
}

.rq{
    &__title{
        @extend .red;
        @extend .font2;
        margin-top: 20px;

        @include media-breakpoint-up(lg) {
            margin-top: 60px;
        }
    }
}

.af-form {
    &.acf-form {
        .af-field {
            input,
            textarea{
                border: rem-calc(1) solid #dedede;
            }

            input{
                height: rem-calc(50);
            }

            textarea{
                height: rem-calc(150);
            }
        }
    }
}


.af-submit{
    &.acf-form-submit{
        margin-bottom: 1.5rem;
        padding: 0;

        button{
            @extend .btn;
            @extend .btn-primary;
            @extend .red__button;
            width: auto;
        }
    }
}
